<!DOCTYPE html>
<html {% block  html_attribs %}{%- endblock -%}>
{%- block html -%}    
    <head>
    {%- block head -%}    
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="XMDEVOPS - 云产品线自动化 运维|监控|管理|发布 系统">
        <meta name="author" content="李满满">
        <meta name="keyword" content="XMDEVOPS, 运维系统, 监控系统, 资产管理, 代码发布, 自动运维">
        {%- endblock -%}
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
        <title>{{ title|default('XMDEVOPS', true) }} - 云产品线自动化运维|监控|资产管理系统</title>
        {% block styles %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {%- endblock -%}
    {%- endblock -%}    
    </head>
    <body {%- block body_attribs -%}{%- endblock -%}>
    {%- block body -%}
    <a href="https://github.com/xmdevops"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/52760788cde945287fbb584134c4cbc2bc36f904/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f77686974655f6666666666662e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"></a>
    {%- endblock -%}
    {%- block scripts -%}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    {%- endblock -%}
    </body>
{%- endblock -%}    
</html>
